body{
    background-color: rgb(95, 124, 125);
    flex-direction: column;
}
button {
    
    height: 10px;
    width: 15px;
    padding: 15px 30px;
    font-size: 15px;
    font-family: 'Trebuchet MS';
    text-align: center;
    
}
